apiVersion: 1
deleteDatasources:{% if grafana_delete_datasources %}
{{ grafana_delete_datasources | to_nice_yaml(indent=2) }}

{% else %} []{% endif %}

datasources:
{{ grafana_datasources | to_nice_yaml(indent=2) }}